services:
  # Development service
  app-dev:
    build:
      context: .
      target: development
    platform: linux/amd64
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/db?schema=public
    command: npm run dev
    depends_on:
      - db

  # PostgreSQL service
  db:
    image: postgres:17.4
    platform: linux/amd64
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
